@import "../../../colors&fonts.scss";
@import "../html5/html5.component.scss";

p {
  margin-bottom: 15px;

  a {
    text-decoration: none;
    color: $true-black;
    transition: 0.3s linear;

    &:hover {
      color: $light-gray;
    }
  }
}
