
<div class="contact">
    
    <div class="fadeIn tFade">
        <div>
            <h1>{{ "contact.title1" | translate }}</h1>
        </div>
        <div>
            <p>
                <a href="tel://+48668975262" style="color: whitesmoke;">
                    <i class="fas fa-phone"></i>
                    <br>
                    668 975 262
                </a>
            </p>
            <p class="paddington">
                <a href="mailto: cezary.cieslinski96@gmail.com" style="color: whitesmoke;">
                    <i class="fas fa-envelope"></i>
                    <br>
                    cezary.cieslinski96@gmail.com
                </a>
            </p>
        </div>
    </div>
    
    <hr class="hr">

    <div class="fadeIn bFade">
        <div>
            <h1>{{ "contact.title2" | translate }}</h1>
        </div>
        <div class="social">
            <a class="btn github" href="https://github.com/czartek7" target="blank">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn linkedin" href="https://www.linkedin.com/in/cezarycieslinski/" target="blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
    
    
</div>

