
<div class="contact">
    <div class="contact info">
        <div>
            <h1>
                Zapraszam do kontaktu!
            </h1>
            <p>
                
            </p>
        </div>
        <div>
            <p>
                <i class="fas fa-phone"></i>
            </p>
            <p>
                <i class="fas fa-envelope"></i>
            </p>
        </div>
        <div class="btn-flex">
            <a class="btn github" href="https://github.com/czartek7" target="blank">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn linkedin" href="https://www.linkedin.com/in/cezarycieslinski/" target="blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        
    </div>
    <div class="contact form">

    </div>
</div>

