
<div class="contact">
    
    <div>
        <h1>
            Zapraszam do kontaktu!
        </h1>
    </div>
    <div>
        <p>
            <a href="tel://+48668975262" style="color: whitesmoke;">
                <i class="fas fa-phone"></i>
                <br>
                668 975 262
            </a>
        </p>
        <p class="paddington">
            <a href="mailto: cezary.cieslinski96@gmail.com" style="color: whitesmoke;">
                <i class="fas fa-envelope"></i>
                <br>
                cezary.cieslinski96@gmail.com
            </a>
        </p>
    </div>
    <hr style="height:3px;border-width:0;color:#c4c4c4;background-color:#c4c4c4">
    <div style="padding-top: .8em;">
        <h1>Moje sieci społecznościowe:</h1>
    </div>
    <div class="social">
        <a class="btn github" href="https://github.com/czartek7" target="blank">
            <i class="fab fa-github"></i>
        </a>
        <a class="btn linkedin" href="https://www.linkedin.com/in/cezarycieslinski/" target="blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
        

</div>

