
<div class="about">
    <div class="image"></div>
    <div class="text">
        <h1>Cześć</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tenetur corrupti laboriosam pariatur, distinctio praesentium, asperiores possimus nesciunt sunt saepe accusamus blanditiis explicabo voluptates vel! Quaerat, praesentium dolores. Officia earum ipsam impedit illum omnis eius ut eos. Dolorem at laudantium deserunt libero autem debitis? Nobis nam amet, quas doloremque incidunt, aspernatur, eos totam natus quis odit debitis ab libero suscipit. Quisquam ut cumque dicta suscipit impedit, nesciunt alias, sequi voluptatem minus, quidem doloribus asperiores et nihil qui tenetur! Veniam non dolores reprehenderit ab ipsum. Fuga neque quis nulla totam aperiam corrupti perspiciatis? Totam culpa quo molestiae maxime similique dolorum exercitationem.
    </div>
</div>
