
<nav id="nav">
  <div class="logo">
    <a href="#" routerLink="/main_page">
      Cezary<span>Cieśliński</span>
    </a>
  </div>
  <ul class="nav-item" name="menu_list">
    <li (click)="navSlide()">
      <a href="#" routerLink="/main_page" routerLinkActive="active">{{ 'nav.main' | translate }}</a>
    </li>
    <li (click)="navSlide()">
      <a href="#" routerLink="/about" routerLinkActive="active">{{ 'nav.about' | translate }}</a>
    </li>
    <li (click)="navSlide()">
      <a href="#" routerLink="/cv" routerLinkActive="active">{{ 'nav.cv' | translate }}</a>
    </li>
    <li (click)="navSlide()">
      <a href="#" routerLink="/contact" routerLinkActive="active">{{ 'nav.contact' | translate }}</a>
    </li>
    <li class="mobile-only">
      <div class="switch switch--horizontal">
        <input id="radio-a" type="radio" name="first-switch" checked (click)="switchLanguage()"/>
        <label for="radio-a">Pl</label>
        <input id="radio-b" type="radio" name="first-switch" (click)="switchLanguage()"/>
        <label for="radio-b">En</label>
        <span class="toggle-outside">
          <span class="toggle-inside"></span>
        </span>
      </div>
    </li>
  </ul>
  <ul class="switch-item">
    <li>
      <div class="switch switch--horizontal">
        <input id="radio-aa" type="radio" name="first-switch" (click)="switchLanguage()" (ngInit)="onSelect()"/>
        <label for="radio-aa">Pl</label>
        <input id="radio-b" type="radio" name="first-switch" (click)="switchLanguage()"/>
        <label for="radio-b">En</label>
        <span class="toggle-outside">
          <span class="toggle-inside"></span>
        </span>
      </div>
    </li>
  </ul>
  <div class="burger" (click)="navSlide()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>

<div class="main-content" (click)="navClose()">
  <router-outlet></router-outlet>
</div>