
@import "../../../colors&fonts.scss";


////////////////////////
// Desktop
////////////////////////

@media screen and (min-width: 768px) {

    .grid {
        display: grid;
        grid-template-rows: repeat(11, minmax(0, 1fr));
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 1em;
    }

    .grid-item {
        font-family: $raleway;
        color: $black;
        font-size: .9em;
        border-radius: 5px;
        padding: 1.8em;
        line-height: 1,5;

        .flex {
            display: grid;
            grid-template-rows: repeat(4, auto);
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.5em;
            
            .flex-item {
                padding: 1em;
                border-radius: 5px;
                background: $color2;
                color: $true-black;

                &.one {
                    grid-row: 1 / 2;
                    grid-column: 3 / 4;

                    div {
                        padding-top: .5em;
                        padding-bottom: 0em;
                    }
                }

                &.two {
                    grid-row: 1 / 2;
                    grid-column: 1 / 3;

                    .narrow {
                        width: 98.4%;
                        padding-left: 5px;
                    }
                }

                &.three {
                    grid-row: 2 / 3;
                    grid-column: 2 / 4;

                    div {
                        padding-top: .4em;
                        padding-bottom: 0em;
                    }
                }

                &.four {
                    grid-row: 2 / 4;
                    grid-column: 1 / 2;
                }

                &.five {
                    grid-row: 3 / 4;
                    grid-column: 2 / 4;
                }

                &.six {
                    grid-row: 4 / 5;
                    grid-column: 1 / 4;

                    div {
                        padding-top: .2em;
                        padding-bottom: .3em;

                        i {
                            font-size: 35px;
                        }
                    } 
                }

                &.four div i {
                    font-size: 35px;
                    font-family: $lato;
                    font-weight: 900;
                    font-style: normal;
                }
            
                div {
                    padding-top: .3em;
                    padding-bottom: .2em;
                    display: flex;
                    justify-content: space-around;
                    font-size: 60px;

                    i {
                        transition: 0.2s linear;
                    
                        &:hover {
                            transform: scale(1.3);
                            text-shadow: 0px 10px 20px $black;
                            cursor: pointer;
                        }

                        &.active {
                            transform: scale(1.3);
                            text-shadow: 0px 10px 20px $black;
                            color: $white;
                        }

                        &:focus {
                            outline: 0;
                            box-shadow: none!important;
                        }
                    }
                }
            }
        }

        h1 {
            margin-bottom: .5em;
        }

        &.one {
            background: $color1;
            grid-row: 1 / 6;
            grid-column: 1 / 7;
        }

        &.two {
            padding: 0em 4em 0em 4em;
            font-size: 1.3rem;
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.7;
            color: $true-black;
            background: $color3;
            grid-row: 1 / 4;
            grid-column: 7 / 11;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.three {
            background: $color1;
            grid-row: 4 / 8;
            grid-column: 7 / 11;

            .school-flex {
                display: flex;
                flex-direction: column;
        
                .school-item {
                    background: $color2;
                    color: $true-black;
                    border-radius: 5px;
                    margin-top: .8em;
                    margin-bottom: .7em;
                    padding: 1em;
                    
                    div {
                        justify-content: space-around;
                        
                        p {
                            font-size: 1.3rem;
                            margin-bottom: 8px;
                            
                            span {
                                font-weight: $bold;
                            }
                        }
                    }
                }
            }
        }

        &.four {
            background: $color1;
            grid-row: 6 / 12;
            grid-column: 1 / 5;

            .exp-flex {
                display: flex;
                flex-direction: column;
        
                div {
                    background: $color2;
                    color: $true-black;
                    border-radius: 5px;
                    margin-top: .8em;
                    margin-bottom: .7em;
                    padding: 1em;

                    h1 {
                        font-size: 1.5rem;
                        margin-bottom: 8px;
                    }

                    p {
                        font-size: 1.3rem;
                        margin-bottom: 8px;
                        
                        span {
                            font-weight: $bold;
                        }
                    }
                }
            }
            
        }

        &.five {
            color: $true-black;
            background-image: url(//unsplash.it/400/500);
            background-size: cover;
            background-position: top left;
            grid-row: 6 / 8;
            grid-column: 5 / 7;
        }

        &.six {
            background: $color1;
            grid-row: 8 / 12;
            grid-column: 5 / 11;

            .six-grid {
                display: grid;
                grid-template-rows: repeat(2, auto);
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1.5em;

                .six-grid-item {
                    background: $color2;
                    color: $white;
                    border-radius: 5px;
                    padding: 1em;

                    h1 {
                        font-size: 1.6rem;
                    }

                    p {
                        font-size: 1.3rem;
                        margin-bottom: 8px;
                        
                        span {
                            font-weight: $bold;
                        }
                    }

                    &.one {
                        grid-row: 1 / 2;
                        grid-column: 1 / 2;
                        position: relative;
                        background: url(../../../assets/images/coffee.jpg);
                        background-size: cover;
                        background-position: top left;
                        z-index: 1;

                        &:before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            display: block;
                            background: $black;
                            opacity: .8;
                        }
                    }

                    &.two {
                        grid-row: 1 / 2;
                        grid-column: 2 / 3;
                    }

                    &.three {
                        grid-row: 2 / 3;
                        grid-column: 1 / 2;
                        margin-bottom: .7em;
                    }

                    &.four {
                        grid-row: 2 / 3;
                        grid-column: 2 / 3;
                        margin-bottom: .7em;
                    }
                }
            }
        }
    }

    .svg {
        transition: 0.2s linear;
        transition: -webkit-filter 0.2s linear;

        &:hover {
            transform: scale(1.3);
            cursor: pointer;
            filter: drop-shadow(0px 10px 10px $black);
        }

        &.active {
            transform: scale(1.3);
            filter: brightness(0) saturate(100%) invert(100%) sepia(19%) 
            saturate(2%) hue-rotate(14deg) brightness(110%) contrast(92%) 
            drop-shadow(0px 10px 10px $black);
        }

        object {
            pointer-events: none;
            width: 60px;
            height: 60px;
        }
    }  
}


/////////////////////////
// Mobile
/////////////////////////

@media screen and (max-width: 768px) {
    .grid {
        display: flex;
        flex-direction: column;

        div {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .grid-item {
        font-family: $raleway;
        color: $black;
        padding: 1.8em;
        line-height: 1,5;

        p {
            margin-bottom: .5em;
        }
    
        h1 {
            margin-bottom: .4em;
        }
    
        &.one {
            background: $color1;
            text-align: justify;
        }
    
        &.two {
            color: $true-black;
            background: $color2;
        }
    
        &.three {
            background: $color1;
        }
    
        &.four {
            color: $true-black;
            background: $color2;
        }
    
        &.five {
            color: $true-black;
            background: $color2;
        }
    
        &.six {
            background: $color1;
        }
    }
}