
<div class="cv">

    <div class="cv-item one rFade"> 
        <h1>Umiejętności</h1>
        <div class="skills">

            <div class="skills-item one">
                <p>Back-end</p>
                <div class="desktop">
                    <i class="fab fa-java" [routerLink]="[{ outlets: { cvoutlet: ['java'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fab fa-python" [routerLink]="[{ outlets: { cvoutlet: ['python'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
                <div class="mobile">
                    <i class="fab fa-java" [routerLink]="[{ outlets: { cvoutlet: ['java'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
                <div class="mobile">
                    <i class="fab fa-python" [routerLink]="[{ outlets: { cvoutlet: ['python'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
            </div>

            <div class="skills-item two">
                <p>Front-end</p>
                <div>
                    <i class="fab fa-html5" [routerLink]="[{ outlets: { cvoutlet: ['html5'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fab fa-css3-alt" [routerLink]="[{ outlets: { cvoutlet: ['css3'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fab fa-js" [routerLink]="[{ outlets: { cvoutlet: ['javascript'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
                <div class="narrow">
                    <i class="fab fa-angular" [routerLink]="[{ outlets: { cvoutlet: ['angular'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fab fa-node" [routerLink]="[{ outlets: { cvoutlet: ['nodejs'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fab fa-bootstrap" [routerLink]="[{ outlets: { cvoutlet: ['bootstrap'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
            </div>

            <div class="skills-item three">
                <p>Ide</p>
                <div class="desktop">
                    <i class="svg" [routerLink]="[{ outlets: { cvoutlet: ['vscode'] } }]" routerLinkActive="active" skipLocationChange>
                        <object data="../../../assets/images/vscode.svg" type="image/svg+xml"></object>
                    </i>
                    <i class="fab fa-android" [routerLink]="[{ outlets: { cvoutlet: ['androids'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="svg" [routerLink]="[{ outlets: { cvoutlet: ['intellij'] } }]" routerLinkActive="active" skipLocationChange>
                        <object data="../../../assets/images/intellij.svg" type="image/svg+xml"></object>
                    </i>
                </div>
                <div class="mobile">
                    <i class="svg" [routerLink]="[{ outlets: { cvoutlet: ['vscode'] } }]" routerLinkActive="active" skipLocationChange>
                        <object data="../../../assets/images/vscode.svg" type="image/svg+xml"></object>
                    </i>
                    <i class="svg" [routerLink]="[{ outlets: { cvoutlet: ['intellij'] } }]" routerLinkActive="active" skipLocationChange>
                        <object data="../../../assets/images/intellij.svg" type="image/svg+xml"></object>
                    </i>
                </div>
                <div class="mobile">
                    <i class="fab fa-android" [routerLink]="[{ outlets: { cvoutlet: ['androids'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
            </div>

            <div class="skills-item four">
                <p>Biblioteki</p>
                <div>
                    <i class="svg" [routerLink]="[{ outlets: { cvoutlet: ['tensorflow'] } }]" routerLinkActive="active" skipLocationChange>
                        <object data="../../../assets/images/tensorflow.svg" type="image/svg+xml"></object>
                    </i>
                </div>
                <div>
                    <i [routerLink]="[{ outlets: { cvoutlet: ['numpy'] } }]" routerLinkActive="active" skipLocationChange>NumPy</i>
                </div>
                <div style="padding-top: .5em;">
                    <i [routerLink]="[{ outlets: { cvoutlet: ['pandas'] } }]" routerLinkActive="active" skipLocationChange>Pandas</i>
                </div>       
            </div>

            <div class="skills-item five">
                <p>Dodatkowe</p>
                <div class="desktop">
                    <i class="fab fa-linux" [routerLink]="[{ outlets: { cvoutlet: ['linux'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fab fa-git" [routerLink]="[{ outlets: { cvoutlet: ['git'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="far fa-lightbulb" [routerLink]="[{ outlets: { cvoutlet: ['agile'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fas fa-database" [routerLink]="[{ outlets: { cvoutlet: ['sql'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
                <div class="mobile">
                    <i class="fab fa-linux" [routerLink]="[{ outlets: { cvoutlet: ['linux'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fab fa-git" [routerLink]="[{ outlets: { cvoutlet: ['git'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
                <div class="mobile">
                    <i class="far fa-lightbulb" [routerLink]="[{ outlets: { cvoutlet: ['agile'] } }]" routerLinkActive="active" skipLocationChange></i>
                    <i class="fas fa-database" [routerLink]="[{ outlets: { cvoutlet: ['sql'] } }]" routerLinkActive="active" skipLocationChange></i>
                </div>
            </div>

            <div class="skills-item six">
                <p>Języki</p>
                <div class="desktop">
                    <i [routerLink]="[{ outlets: { cvoutlet: ['eng'] } }]" routerLinkActive="active" skipLocationChange>Hello!</i>
                    <i [routerLink]="[{ outlets: { cvoutlet: ['chinese'] } }]" routerLinkActive="active" skipLocationChange>你好!</i>
                </div>
                <div class="mobile">
                    <i [routerLink]="[{ outlets: { cvoutlet: ['eng'] } }]" routerLinkActive="active" skipLocationChange>Hello!</i>
                </div>
                <div class="mobile">
                    <i [routerLink]="[{ outlets: { cvoutlet: ['chinese'] } }]" routerLinkActive="active" skipLocationChange>你好!</i>
                </div>
            </div>

        </div>
    </div>

    <div class="cv-item two lFade">
        <router-outlet name="cvoutlet"></router-outlet>
    </div>

    <div class="cv-item three lFade">
        <h1>Wykształcenie</h1>
        <div class="education">
            <div class="education-item">              
                <p>
                    <span>PAŹDZIERNIK 2019 - NADAL</span>
                </p>
                <p>Uniwersytet Łódzki, Wydział Fizyki i Informatyki Stosowanej</p>
                <p>Kierunek: <span>Informatyka II stopnia</span>, specjalność „Sztuczna Inteligencja”</p>           
            </div>
            <div class="education-item"> 
                <p>
                    <span>PAŹDZIERNIK 2016 – CZERWIEC 2019</span>
                </p>
                <p>Uniwersytet Łódzki, Wydział Studiów Międzynarodowych i Politologicznych</p>
                <p>Kierunek: <span>Stosunki Międzynarodowe I stopnia, specjalność „Asian Studies”</span> w jęz. angielskim</p>               
            </div>
        </div>
    </div>

    <div class="cv-item four rFade">
        <h1>Doświadczenie</h1>
        <div class="exp">
            <div class="exp-item">
                <p>
                    MARZEC 2018 - LIPIEC 2018
                </p>
                <h1>
                    <span>Urząd Marszałkowski w Łodzi — Departament Promocji i Współpracy Zagranicznej</span>
                </h1>
                <p>
                    Do moich obowiązków jako stażysty należało redagowanie cotygodniowych raportów dot. polityki 
                    zagranicznej USA oraz Chin, tłumaczenie dokumentów oraz realizacja bieżących projektów. Zazwyczaj dotyczyły one 
                    współpracy z chińską prowincją Chengdu.
                </p>
            </div>
            <div class="exp-item">
                <p>
                    PAŹDZIERNIK 2017 - MARZEC 2018
                </p>
                <h1>
                    <span>Regionalny Ośrodek Debaty Międzynarodowej</span>
                </h1>
                <p>
                    Jako wolontariusz pomagałem przy organizacji wydarzeń promujących region, moderowałem stronę internetową 
                    oraz pełniłem dyżury w biurze.
                </p>
            </div>
            <div class="exp-item">
                <p>
                    PAŹDZIERNIK 2016 - CZERWIEC 2019
                </p>
                <h1>
                    <span>Koło Naukowe Azji Wschidniej i Pacyfiku</span>
                </h1>
                <p>
                    W kole naukowym udzielałem się przez całą długość studiów I stopnia. Już na pierwszym roku udało nam się 
                    zorganizować miesięczną wyprawę naukową do Tajlandii, Wietnamu, Laosu i Kambodży. Organizowaliśmy także serię 
                    spotkań z podróżnikami w kawiarni Daleko Blisko.
                </p>
            </div>
        </div>
    </div>

    <div class="cv-item five bFade"></div>

    <div class="cv-item six bFade">
        <h1>Zainteresowania</h1>
        <div class="interests">
            <div class="interests-item one img">
                <h1>Kawa</h1>
            </div>
            <div class="interests-item two">
                <h1>Szachy</h1>
                <p>
                </p>
            </div>
            <div class="interests-item three">
                <h1>Podróże</h1>
            </div>
            <div class="interests-item four">
                <h1>Gry komputerowe</h1>
            </div>
        </div> 
    </div>

</div>
