
@import "../../../colors&fonts.scss";

.main-page {
    overflow: hidden;
    position: fixed;
    padding: 8%;
    padding-top: 4%;
    height: 110vh;
    width: 100%;
    
    &::after {
        content: "";
        background: url(../../../assets/images/contact.jpg);
        background-position: top;
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
}

.title {
    text-transform: uppercase;
    font-family: $jaapokki-enchance;
    font-size: 5rem;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 1.8em;
    animation-duration: 1s;
    animation-fill-mode: both;

    p {
        font-size: 3.5rem;
    }
    
    span {
      font-family: $jaapokki-subtract;
      color: $white;
    }

    &.sub {
      animation-delay: 0.5s;
      padding-top: 0px;
    }
  }

  .fadeInBottom {
    animation-name: titleFadeIn;
  }

  @keyframes titleFadeIn {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @media screen and (max-width: 768px) {

    .title {
        text-transform: uppercase;
        font-family: $jaapokki-enchance;
        font-size: 3rem;
        letter-spacing: 3px;
        text-align: center;
        padding-top: 1em;
    
        p {
            font-size: 2rem;
        }
        
        span {
          font-family: $jaapokki-subtract;
          color: $white;
        }
      }

      @keyframes titleFadeIn {
        from {
          opacity: 0;
          transform: translateY(50px);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
  }