
@import "../../../colors&fonts.scss";

.clicker {
    
    span {
        color: black;
        background: lightgray;
        padding: .3em;
        cursor: pointer;

    }
}

.lorem {
    text-align: justify;
}