
@import "../../../colors&fonts.scss";

.main-page {
    padding: 8%;
    padding-top: 5%;
}

.clicker {
    
    span {
        color: black;
        background: lightgray;
        padding: .3em;
        cursor: pointer;

    }
}

.lorem {
    text-align: justify;
}