.main-page {
  overflow: hidden;
  position: fixed;
  padding: 8%;
  padding-top: 4%;
  height: 110vh;
  width: 100%;
}

.main-page::after {
  content: "";
  background: url(../../../assets/images/contact.jpg);
  background-position: top;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  text-transform: uppercase;
  font-family: "Jaapokki-enchance";
  font-size: 5rem;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 1.8em;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.title p {
  font-size: 3.5rem;
}

.title span {
  font-family: "Jaapokki-subtract";
  color: #f5f5f5;
}

.title.sub {
  animation-delay: 0.5s;
  padding-top: 0px;
}

.fadeInBottom {
  animation-name: titleFadeIn;
}

@keyframes titleFadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes menuFadeIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-transform: uppercase;
    font-family: "Jaapokki-enchance";
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 1em;
  }
  .title.sub {
    padding-bottom: 2.2em;
  }
  .title p {
    font-size: 2rem;
  }
  .title span {
    font-family: "Jaapokki-subtract";
    color: #f5f5f5;
  }
  @keyframes titleFadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .menu-container {
    display: flex;
    justify-content: space-around;
  }
  .menu-container .menu-item {
    font-family: "Jaapokki-regular";
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .menu-container .menu-item.one {
    animation-delay: .8s;
  }
  .menu-container .menu-item.two {
    animation-delay: 1s;
  }
  .menu-container .menu-item.three {
    animation-delay: 1.2s;
  }
  .rFadeIn {
    animation-name: menuFadeIn;
  }
}
