// ===================
// Font and color variables
// ===================

// Fonts
$jaapokki-regular: 'Jaapokki-regular';
$jaapokki-enchance: 'Jaapokki-enchance';
$jaapokki-subtract: 'Jaapokki-subtract';
$raleway: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;

// Colors
$true-black: #1a1a1a;
$black: #353535;
$gray: #4f4f4f;
$white: #f5f5f5;
$medium-gray: #919191;
$light-gray: #c4c4c4;

$linkedin-blue: #2867B2;
$github-gray: #24292e;

// Triple for CV
$color1: #C4D6B0;
$color2: #697f7c;
$color3: #345995;
