/* You can add global styles to this file, and also import other style files */

// Fonts import
@font-face {
  font-family: "Jaapokki-regular";
  src: url("assets/fonts/regular/jaapokki-regular.eot");
  src:
  url("assets/fonts/regular/jaapokki-regular.woff") format("woff"),
  url("assets/fonts/regular/jaapokki-regular.ttf") format("truetype"),
  url("assets/fonts/regular/jaapokki-regular.svg") format("svg");
  }

@font-face {
  font-family: "Jaapokki-enchance";
  src: url("assets/fonts/enchance/jaapokkienchance-regular.eot");
  src:
  url("assets/fonts/enchance/jaapokkienchance-regular.woff") format("woff"),
  url("assets/fonts/enchance/jaapokkienchance-regular.ttf") format("truetype"),
  url("assets/fonts/enchance/jaapokkienchance-regular.svg") format("svg");
  }

@font-face {
  font-family: "Jaapokki-subtract";
  src: url("assets/fonts/subtract/jaapokkisubtract-regular.eot");
  src:
  url("assets/fonts/subtract/jaapokkisubtract-regular.woff") format("woff"),
  url("assets/fonts/subtract/jaapokkisubtract-regular.ttf") format("truetype"),
  url("assets/fonts/subtract/jaapokkisubtract-regular.svg") format("svg");
  }

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@import "colors&fonts.scss";

// ===================
// General styles
// ===================

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  background: $black;
  color: $light-gray;
  font-family: $raleway;
  line-height: 1.45;
  zoom: 90%;
}


// ===================
// Navigation
// ===================

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $gray;
  height: 8vh;
  padding: 2.5em 0em 2.5em 0em;
  z-index: 600;
}

.logo {
  text-transform: uppercase;
  font-family: $jaapokki-enchance;
  margin-top: 7px;
  font-size: 2.2rem;
  letter-spacing: 2px;

  a {
    text-decoration: none;
    color: $light-gray;
  }
  
  span {
    font-family: $jaapokki-subtract;
    color: $white;
  }
}

.nav-item {
  font-family: $jaapokki-regular;
  display: flex;
  justify-content: space-around;
  width: 40%;

  a {
    color: $medium-gray;
    font-size: 1.4rem;
    text-decoration: none;
    transition: 0.3s linear;

    &.active {
      color: $light-gray;
    }
  
    &:hover {
      color: $light-gray;
    }
  }

  li {
    list-style: none;
    text-align: center;
    //border: solid 1px red;
  }
}

.burger {
  display: none;
  cursor: pointer;

  div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: $medium-gray;
    transition: all 0.3s ease;
  }
}

.switch-item li {
  list-style: none;
}

.switch {
  width: 12rem;
  position: relative;
  zoom: 110%;

  input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;

    &:checked {
      z-index: 1;

      & + label {
        opacity: 1;
	      cursor: default;
      }
    }

    &:not(:checked) + label:hover {
      opacity: 0.5;
    }
  }

  & label {
    color: $white;
    opacity: 0.33;
    transition: opacity 0.25s ease;
    pointer-events: none;
  }

  & .toggle-outside {
    height: 100%;
    border-radius: 1rem;
    padding: 0.125rem;
    overflow: hidden;
    transition: 0.25s ease all;
  }

  & .toggle-inside {
    border-radius: 2.5rem;
    background: $gray;
    position: absolute;
    transition: 0.25s ease all;
  }
}

.switch--horizontal {
  width: 9rem;
	height: 1.5rem;
	margin: 0 auto;
  font-size: 0;
  
  input {
    height: 1.5rem;
    width: 3rem;
    left: 3rem;
    margin: 0;
  }

  label {
    font-size: 0.75rem;
    line-height: 1.5rem;
    display: inline-block;
    width: 3rem;
    height: 100%;
    margin: 0;
    text-align: center;

    &:last-of-type {
      margin-left: 3rem;
    }
  }

  & .toggle-outside {
    background: $white;
    position: absolute;
    width: 3rem;
    left: 3rem;
  }

  & .toggle-inside {
    height: 1.25rem;
    width: 1.25rem;
  }

  & input:checked ~ .toggle-outside .toggle-inside {
    left: 0.125rem;
  }

  & input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 1.625rem;
  }
}

@media screen and (min-width: 768px) {
  .mobile {display: none;}
  
}

////////////////////
// Mobile version
////////////////////

@media screen and (max-width: 1024px) {
  .nav-item {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {

html,
body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
    font-size: 1rem;
}

  #nav {
    padding: 0px 0px 0px 0px;
  }

  .logo {
    font-size: 1.5rem;
    letter-spacing: 0px;
  }

  .switch-item {
    display: none;
  }

  .nav-item {
    position: absolute;
    z-index: 500;
    right: 0px;
    height: 150vh;
    width: 50%;
    top: 8vh;
    background: $gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;

    li {
      opacity: 0;
      padding: 25px 0px 25px 0px;
    }

    a {
      font-size: 1.1rem;
    }
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.burger-animation {

  & .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
  }

  & .line2 {
    opacity: 0;
  }

  & .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
  }
}

// ===================
// Main Content area
// ===================

.main-content {
  font-size: 1.2rem;
  height: auto;
  padding-top: 8vh;
}