.comp {
  animation-duration: 1s;
  animation-fill-mode: both;
}

p {
  margin-bottom: 15px;
}

p a {
  text-decoration: none;
  color: #1a1a1a;
  transition: 0.3s linear;
}

p a:hover {
  color: #c4c4c4;
}

.fade {
  animation-name: FadeIn;
}

@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateZ(100%);
  }
  to {
    opacity: 1;
    transform: translateZ(0%);
  }
}
